body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

    body.dark {
        background-color: #c7c9cb;
    }

    body.light {
        background-color: #fff;
    }
