ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: green;
}
a.navbar, li.navbar, li.navbar-active ,a.navbar li.navbar-active {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
}
    a.navbar, a.navbar li.navbar-active {
        padding: 14px 16px;
    }
    a.navbar:hover {
        background-color: wheat;
    }
li.navbar-active, a.navbar-active {
    background-color: white;
}
    a.navbar-active:hover{
        background-color: grey;
    }